{% extends 'base.html.twig' %}
{% block body %}
    <form action="{{ path('app_product_addproduct') }}" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="category" placeholder="Category">
        <input type="number" name="price" placeholder="Price">
        <input type="number" name="quantity" placeholder="Quantity">
        <input type="submit" value="Save">
    </form>
{% endblock body %}